body {
    height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --font-heading: "Major Mono Display", monospace;
    --font-sub-heading: "Julius Sans One", sans-serif;
    --font-description: "Noto Sans", sans-serif;
}

html {
    overflow: hidden;
}

#root {
    height: 100%;
}

.page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.page-content {
    display: flex;
    height: 95%;
}

.search-button svg {
    transform: rotate(90deg);
}

.title-bar {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    padding: 4px 4px;
    color: #eeffff;
    background-color: #2d2f2d;
    font-weight: 100;
    align-items: center;
    height: 5%;
}

.menu-btn {
    background-color: transparent;
    box-shadow: none;
    border: none;
    color: #eeffff;
    cursor: pointer;
    display: flex;
    align-items: center;
    letter-spacing: 1.15;
    padding: 0.15rem;
    transition: all 50ms ease-in-out;
}

.menu-btn:hover {
    background: #1d201d;
    color: #84a98c;
}

.title-bar .logo {
    display: flex;
    align-items: center;
}

.title-bar-options {
    display: flex;
    align-items: center;
    gap: 1em;
}

.title-bar-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.previous-arrow, 
.next-arrow {
    background-color: transparent;
    border: none;
    font-size: 1.15em;
}

.title-bar-search {
    display: flex;
    gap: 0.5rem;
}

.title-bar-search .search-input {
    width: 100%;
    padding: 2px 0;
    border: 1px solid #979dac;
    background-color: #343a40;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    gap: 0.5em;
}

.title-bar-search .search-input::placeholder {
    text-align: center;
}

.title-bar-search .search-btn i {
    transform: rotate(90deg);
}

.title-bar-close-btns-container {
    display: flex;
    justify-content: end;
    gap: .5em;
}

.title-bar-close-btns-container button {
    background-color: transparent;
    border: none;
    padding: 0.25em 1em;
}

.navbar {
    display: flex;
    overflow: auto;
}

.tabs-container {
    background-color: #222422;
    overflow-x: auto;
}

.tabs-container,
.tab-content {
    display: flex;
    flex-direction: column;
}

.tab-content {
    padding: 0.5rem 0.25rem;
    overflow-y: visible;
    overflow-x: hidden;
    width: 200px;
    background-color: #1a1a1a;
}

.tab-btn {
    background-color: #222422;
    border: none;
    cursor: pointer;
    padding: 12px;
}

.tab-btn.selected .tab-icon {
    color: #eeffff;
}

.tab-btn .tab-icon {
    color: #6b6a66;
    font-size: 24px;
}

.tab-btn:hover i {
    color: #eeffff;
}

.nav-link {
    text-transform: capitalize;
}

.content {
    display: flex;
    width: 100%;
    background: black;
}

.navbar-icons {
    font-size: 1.5rem;
    color: #fff;
}

.profile-container {
    color: white;
}

.content-nav-close:hover {
    background-color: gray;
    border-radius: 9999px;
}

.part-of-me {
    color: indigo;
    font-weight: 500;
    font-size: 9rem;
    transition: all 0.25s ease-in-out;
    text-decoration: underline;
    font-family: "Jersey 15", sans-serif;
}


.part-of-me:hover {
    /* font-weight: 900; */
    color: rgb(238, 242, 255);
}

/* To the right */
.part-of-me:hover + .part-of-me {
    /* font-weight: 500; */
    color: rgb(199, 210, 254);
}

/* To the left */
.part-of-me:has(+ .part-of-me:hover) {
    /* font-weight: 500; */
    color: rgb(199, 210, 254);
}

.about-card-container {
    background: lch(12.5 5 270 / 1);
    transition: background 0.25s ease-in-out;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}

.about-card-container:hover {
    background: lch(15 2.92 269.12);
    /* --a: hsla(211, 96%, 78%, 40%);
    --b: hsla(211, 96%, 78%, 0%);
    background: radial-gradient(circle at center, var(--a), var(--b)); */
}

.about-card-title-container {
    font-family: var(--font-heading);
    letter-spacing: 2px;
}

.about-card-title-container p {
    /* text-decoration: underline; */
}

.about-card-content-container {
    font-family: var(--font-description);
    color: #7a8ba3;
}

.about-card-subtitle-container {
    font-family: var(--font-sub-heading);
    color: #e2e8f0;
}

.copy-btn {
    opacity: 0;
    transition: all 0.25s ease-in-out;
}

.each-contact-container:hover .copy-btn {
    opacity: 1 !important;
    visibility: visible;
}